
- name: Install and Run nginx
  hosts: frontend
  connection: local
  become: yes
  tasks:
  - name: Install nginx
    ansible.builtin.package:
      name: nginx
      state: present
      
  - name: Start service nginx, if not started
    ansible.builtin.service:
      name: nginx
      state: started   
      enabled: yes 